@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$color-default: #555555;
$color-primary: #C1C793;
$color-secondary: #D9673F;

$color-link: #795C36;

$body-font-family: "Open Sans", sans-serif;
$head-font-family: 'Open Sans', sans-serif;

$font-size: 1.6rem;

$background-color: #111111;
$progress-bar-color: rgba(0, 0, 0, 0.4);
$player-background-color: $color-default;
